<header>
    <div class="container">
        <div class="nav">
            <a href="/">Site Logo</a>
            <ul class="nav--list">
                <li class="nav--list-item type--small">
                    Link 1
                </li>
                <li class="nav--list-item type--small">
                    Link 2
                </li>
                <li class="nav--list-item type--small">
                    Link 3
                </li>
            </ul>
        </div>
    </div>
</header>
