// Base variables
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   1em;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.65;

// Spacing
$spacing-unit: 2em;

// Colors
$text-color: #888888;
$background-color: #F9F9F9;
$accent-color: #5C00F7;
$black-color: #040404;
$white-color: #F4F4F4;

// Width of the content area
$extra-extra-large-width: 90em;
$extra-large-width: 68em;
$large-width: 50em;
$medium-width: 40em;
$small-width: 30em;
